fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
python-dotenv
python-multipart

python-jose[cryptography]
passlib[bcrypt]

httpx
google-genai

PyMuPDF
pdfplumber
python-docx
python-pptx

numpy
pandas
scikit-learn

spacy
sentence-transformers
transformers
torch